In [1]:
import pandas as pd
df = pd.DataFrame(
    {'名前': ['斎藤','鈴木','高橋'],
    '国語': [88, 48, 91],
    '数学': [18, 81, 39],
    '英語': [59,  2, 30]},
    index=['s01','s02','s03'])
df.index.name = 'ID'
display(df)

     名前  国語  数学  英語
ID
s01  斎藤  88  18  59
s02  鈴木  48  81   2
s03  高橋  91  39  30

In [2]:
df.index

Index(['s01', 's02', 's03'], dtype='object', name='ID')

In [3]:
df.index.values

array(['s01', 's02', 's03'], dtype=object)

In [4]:
print(df.index.values[0])

s01

In [5]:
df.columns

Index(['名前', '国語', '数学', '英語'], dtype='object')

In [8]:
print(df.columns.values[0])

名前

In [7]:
print(df.values)

[['斎藤' 88 18 59]
 ['鈴木' 48 81 2]
 ['高橋' 91 39 30]]

In [6]:
print(df.at['s02','数学'])
print(df.iat[1,2])
print(df.loc['s02','数学'])
print(df.iloc[1,2])

81
81
81
81

In [9]:
print(df.loc[['s01','s03'], :])
print(df.iloc[[0,2],:])

     名前  国語  数学  英語
ID
s01  斎藤  88  18  59
s03  高橋  91  39  30
     名前  国語  数学  英語
ID
s01  斎藤  88  18  59
s03  高橋  91  39  30

In [10]:
print(df.loc[:, ['名前','英語']])
print(df.iloc[:, [0,2]])

     名前  英語
ID
s01  斎藤  59
s02  鈴木   2
s03  高橋  30
     名前  数学
ID
s01  斎藤  18
s02  鈴木  81
s03  高橋  39

In [12]:
print(df.loc[:, '名前':'国語'])
print(df.iloc[:, 0:2])

     名前  国語
ID
s01  斎藤  88
s02  鈴木  48
s03  高橋  91
     名前  国語
ID
s01  斎藤  88
s02  鈴木  48
s03  高橋  91

In [11]:
print(df.loc[['s01','s02'], ['名前','国語']])
print(df.loc['s01':'s02', '名前':'国語'])
print(df.iloc[[0,1], [0,1]])
print(df.iloc[0:2, 0:2])

     名前  国語
ID
s01  斎藤  88
s02  鈴木  48
     名前  国語
ID
s01  斎藤  88
s02  鈴木  48
     名前  国語
ID
s01  斎藤  88
s02  鈴木  48
     名前  国語
ID
s01  斎藤  88
s02  鈴木  48

In [13]:
df.at['s01', '数学'] = 60
print(df.at['s01', '数学'])

60

In [14]:
df.loc['s02':'s03','国語':'英語'] = 0
print(df.loc['s02':'s03','国語':'英語'])

     国語  数学  英語
ID
s02   0   0   0
s03   0   0   0