In [1]:
import pandas as pd
import numpy as np
# データの読み込み
data = pd.read_excel('data//u12.xlsx',index_col='ID')
display(data) # データ全体を表示
# カラム名を表示
print(data.columns)

           年齢  性別
ID
100000001  25   2
100000002  34   2
100000003  37   1
100000004  44   2
100000005  32   2
...        ..  ..
100014338  15   1
100014339  11   1
100014340   5   1
100014341   8   1
100014342   8   1

[14342 rows x 2 columns]

Index(['年齢', '性別'], dtype='object')

In [2]:
print(len(data)) # 方法1
print(data.shape) # 方法2

14342
(14342, 2)

In [3]:
male = 0 # 男性の人数を代入する変数に初期値0を代入する
female = 0 # 女性の人数を代入する変数に初期値0を代入する

# IDを利用して男女別の人数カウントを開始
for i in data.index: # モニター人数分繰り返し
  # i は100000001から100014342まで変化           
  if data.at[i,'性別'] == 1: #ID i の人が１（男性）なら
    male = male + 1 # maleを１増加(男性の人数に+1)
  else:# ID iの人が２（女性）であれば
    female = female + 1 #femaleを１増加(女性の人数+1)
# カウント結果である男性人数と女性人数を表示
print('男性:',male,'女性:',female,'合計人数:',male+female)

男性: 7363 女性: 6979 合計人数: 14342

In [4]:
male_age = 0 # 男性の年齢を加える変数 (全男性の合計年齢)
female_age = 0 # 女性の年齢を加える変数(全女性の合計年齢)

for i in data.index:
    if data.at[i,'性別'] == 1: # ID i の人が男性なら
        # 男性の年齢の合計にID i の人の年齢を加える
        male_age = male_age + data.at[i,'年齢']
    else: # ID i の人が女性なら
        # 女性の年齢の合計にID i の人の年齢を加える
        female_age = female_age + data.at[i,'年齢']

# 年齢の総合計を人数で割り、男性と女性の平均年齢を計算
print('男性の平均年齢:', male_age/male, '女性の平均年齢:', female_age/female)

男性の平均年齢: 26.331658291457288 女性の平均年齢: 25.936237283278405

In [5]:
ave_male_age=male_age/male # 男性の平均年齢
ave_female_age=female_age/female # 女性の平均年齢

var_male=0 # 男性の分散を求める変数
var_female=0 # 女性の分散を求める変数

for i in data.index: 
    if data.at[i,'性別']==1: # ID iの人が男性(1)なら
        #男性の個々の年齢と年齢平均の差の二乗を求めてvar_maleに加算
        var_male+=(data.at[i,'年齢']-ave_male_age)**2 
    else: # ID iの人が女性(2)なら
        #女性の個々の年齢と年齢平均の差の二乗を求めてvar_maleに加算
        var_female+=(data.at[i,'年齢']-ave_female_age)**2 

var_male/=male #男性の年齢平均と個々の年齢の差の二乗の合計/人数
var_female/=female #女性の年齢平均と個々の年齢の差の二乗の合計/人数

# 標準偏差は分散(var_maleまたはvar_female)の平方根
print('男性の分散:',var_male,'標準偏差',np.sqrt(var_male))
print('女性の分散:',var_female,'標準偏差',np.sqrt(var_female))

男性の分散: 193.83703523730614 標準偏差 13.922536954065022
女性の分散: 185.49715225548925 標準偏差 13.61973392748512

In [6]:
df_s = data.sort_values('年齢') # 並び替え
print('min:',df_s.iloc[0,0]) # 年齢の0番目
# 年齢の14341番目
print('max:',df_s.iloc[len(data)-1,0])

min: 1
max: 55

In [7]:
if len(df_s) % 2 == 0: # 偶数の場合
    c1 = int((len(df_s) - 1) * 50/ 100)
    c2 = c1 + 1
    print('中央値の計算に使う位置は',c1,'と',c2,'です。')
    print('中央値:',(df_s.iloc[c1,0] + df_s.iloc[c2,0])/2)
else: # 奇数の場合
    c1 = int((len(df_s) + 1) / 2 - 1)
    print('中央値の計算に使う位置は',c1,'です。')
    print('中央値:',df_s.iloc[int(c1),0])

中央値の計算に使う位置は 7170 と 7171 です。
中央値: 27.0

In [8]:
# 25%点の位置を計算するための整数部
c25_i = (len(df_s)-1) * 25/100 
s = c25_i - int(c25_i) # 25%点を計算するための小数部
print('25%点の位置:',c25_i, '小数:',s)
#「i番目の年齢 + 小数部分 (i+1番目の年齢 - i番目の年齢)」
c25 = df_s.iloc[int(c25_i), 0] + s*(df_s.iloc[int(c25_i)+1, 0] - df_s.iloc[int(c25_i), 0])
print('25%点:',c25) # 25%点の出力

25%点の位置: 3585.25 小数: 0.25
25%点: 15.0

In [9]:
c75_i = (len(df_s)-1)*75/100 # 整数部の計算
s = c75_i - int(c75_i) # 小数部の計算
print('75%点の位置:',c75_i, '小数:',s)
#k + 小数部分 ( k + 1 番目の値 - k)
c75 = df_s.iloc[int(c75_i), 0] + s*(df_s.iloc[int(c75_i)+1, 0] - df_s.iloc[int(c75_i), 0])
print('75%点:',c75)

75%点の位置: 10755.75 小数: 0.75
75%点: 37.0

In [10]:
age_df = pd.DataFrame(np.zeros(6))
age_df.columns = ['度数'] # カラム名を変更
for i in data.index:
    age = int((data.at[i,'年齢']-1)/10)
    age_df.iat[age,0] += 1    
age_df.index = ['(0,10]', '(10,20]', '(20,30]', '(30,40]', '(40,50]', '(50,60]'] # 出力用のインデックス名
print(age_df)

             度数
(0,10]   2426.0
(10,20]  2750.0
(20,30]  3463.0
(30,40]  3227.0
(40,50]  1924.0
(50,60]   552.0