In [1]:
import pandas as pd
dfa = pd.DataFrame({'A': [100,200],
    'B':[850,2750]},
    index=['i1','i2'])
print('dfa:')
print(dfa)
dfb = pd.DataFrame({'A': [100,800],
    'B':[150,1250]},
    index=['i1','i2'])
print('dfb:')
print(dfb)
dfab = dfa + dfb 
print('dfa + dfb= ') 
print(dfab)

dfa:
      A     B
i1  100   850
i2  200  2750
dfb:
      A     B
i1  100   150
i2  800  1250
dfa + dfb=
       A     B
i1   200  1000
i2  1000  4000

In [2]:
dfa.at['i1','A'] = dfa.at['i1','A'] + dfb.at['i1','A']
print(dfa) # 100 + 100
dfa.loc[:,'B'] = dfa.loc[:,'B'] + dfb.loc[:,'B']
print(dfa) # i1は850+150=1000, i2は2750*1250=4000
dfa.loc['i1',:] = dfa.loc['i1',:] + dfb.loc['i1',:]
print(dfa) # i1, A = 200 + 100, i1, B = 1000+150

      A     B
i1  200   850
i2  200  2750
      A     B
i1  200  1000
i2  200  4000
      A     B
i1  300  1150
i2  200  4000

In [3]:
dfx = pd.DataFrame(
    {'A': [100,200],
    'B':[850,2750]},
    index=['i1','i2'])
print('dfx:',dfa)
dfy = pd.DataFrame(
    {'A': [100,200,300],
    'B':[850,2750,3000]},
    index=['i1','i2','i3'])

dfx:       A     B
i1  300  1150
i2  200  4000

In [4]:
print(dfx + dfy)

        A       B
i1  200.0  1700.0
i2  400.0  5500.0
i3    NaN     NaN

In [5]:
import pandas as pd
data_csv = pd.read_csv('data//pdset.csv', index_col='ID')
display(data_csv)

          国語  数学  英語
ID
20190001  30  91  75
20190002  70  16  54
20190003  78  71  30
20190004   7  91  78
20190005   0  55  23
...       ..  ..  ..
20190596   5  62  98
20190597  91  70   3
20190598   8  87  15
20190599  47   0  30
20190600  32  75  35

[600 rows x 3 columns]

In [7]:
data_xlsx = pd.read_excel('data//pdset.xlsx', 
                          index_col='ID')
display(data_xlsx)

          国語  数学  英語
ID
20190001  30  91  75
20190002  70  16  54
20190003  78  71  30
20190004   7  91  78
20190005   0  55  23
...       ..  ..  ..
20190596   5  62  98
20190597  91  70   3
20190598   8  87  15
20190599  47   0  30
20190600  32  75  35

[600 rows x 3 columns]

In [8]:
dfs = pd.read_excel('data//S.xlsx',index_col='ID')
dfa = pd.read_excel('data//A.xlsx',index_col='ID')
dfb = pd.read_excel('data//B.xlsx',index_col='ID')
#display('dfs:',dfs) # dfsの出力には先頭の#を削除 
#display('dfa:',dfa) # dfaの出力には先頭の#を削除 
#dfs+dfaの計算結果をdata_sumに代入
data_sum = dfs.add(dfa, fill_value=0) 
#display('data_sum=dfs+dfa:',data_sum)
#display('dfb',dfb) # dfbの出力には先頭の#を削除
# data_sum+dfbの計算結果をdata_sumに代入
data_sum = data_sum.add(dfb, fill_value=0) 
display(data_sum)

       1      2      3      4      5
ID
A   53.0  168.0  154.0  115.0   57.0
B   33.0  115.0  192.0  142.0  138.0
C    5.0  109.0   63.0    5.0   80.0
D   65.0   60.0   92.0   26.0   95.0
E   30.0   99.0  194.0   96.0   66.0

In [9]:
data_sum.to_csv('data_sum.csv', index = True)

In [10]:
data = pd.read_csv('data_sum.csv',index_col = 'ID')
print(data.sum())

1    186.0
2    551.0
3    695.0
4    384.0
5    436.0
dtype: float64

In [11]:
print(data.sum(axis = 1 ))

ID
A    547.0
B    620.0
C    262.0
D    338.0
E    485.0
dtype: float64