In [29]:
import pandas as pd
import numpy as np
# データの読み込み
data = pd.read_excel('data//demographic.xlsx',index_col='ID')
print(data) # データ全体を表示
# カラム名を表示
print(data.columns)

         年齢  性別
ID
1000001  45   1
1000002  48   2
1000003  65   2
1000004  10   2
...      ..  ..
1014997  53   2
1014998  29   1
1014999  55   2
1015000   9   1

[15000 rows x 2 columns]
Index(['年齢', '性別'], dtype='object')

In [30]:
print(len(data)) # 方法1
print(data.shape) # 方法2

15000
(15000, 2)

In [31]:
male = 0 # 男性の人数を代入する変数に初期値0を代入する
female = 0 # 女性の人数を代入する変数に初期値0を代入する

# IDを利用して男女別の人数カウントを開始
for i in data.index: # モニター人数分繰り返し
  # i は100000001から100014342まで変化           
  if data.at[i,'性別'] == 1: #ID i の人が１（男性）なら
    male = male + 1 # maleを１増加(男性の人数に+1)
  else:# ID iの人が２（女性）であれば
    female = female + 1 #femaleを１増加(女性の人数+1)
# カウント結果である男性人数と女性人数を表示
print('男性:',male,'女性:',female,'合計人数:',male+female)

男性: 6762 女性: 8238 合計人数: 15000

In [32]:
male_age = 0 # 男性の年齢を加える変数 (全男性の合計年齢)
female_age = 0 # 女性の年齢を加える変数(全女性の合計年齢)

for i in data.index:
    if data.at[i,'性別'] == 1: # ID i の人が男性なら
        # 男性の年齢の合計にID i の人の年齢を加える
        male_age = male_age + data.at[i,'年齢']
    else: # ID i の人が女性なら
        # 女性の年齢の合計にID i の人の年齢を加える
        female_age = female_age + data.at[i,'年齢']

# 年齢の総合計を人数で割り、男性と女性の平均年齢を計算
print('男性の平均年齢:', male_age/male, '女性の平均年齢:', female_age/female)

男性の平均年齢: 33.004436557231585 女性の平均年齢: 33.093712066035444

In [33]:
ave_male_age=male_age/male # 男性の平均年齢
ave_female_age=female_age/female # 女性の平均年齢

var_male=0 # 男性の分散を求める変数
var_female=0 # 女性の分散を求める変数

for i in data.index: 
    if data.at[i,'性別']==1: # ID iの人が男性(1)なら
        #男性の個々の年齢と年齢平均の差の二乗を求めてvar_maleに加算
        var_male+=(data.at[i,'年齢']-ave_male_age)**2 
    else: # ID iの人が女性(2)なら
        #女性の個々の年齢と年齢平均の差の二乗を求めてvar_maleに加算
        var_female+=(data.at[i,'年齢']-ave_female_age)**2 

var_male/=male #男性の年齢平均と個々の年齢の差の二乗の合計/人数
var_female/=female #女性の年齢平均と個々の年齢の差の二乗の合計/人数

# 標準偏差は分散(var_maleまたはvar_female)の平方根
print('男性の分散:',var_male,'標準偏差',np.sqrt(var_male))
print('女性の分散:',var_female,'標準偏差',np.sqrt(var_female))

男性の分散: 350.68942131075005 標準偏差 18.726703428813895
女性の分散: 347.6865324453761 標準偏差 18.6463544009379

In [34]:
df_s = data.sort_values('年齢') # 並び替え
print('min:',df_s.iloc[0,0]) # 年齢の0番目
# 年齢の14341番目
print('max:',df_s.iloc[len(data)-1,0])

min: 1
max: 65

In [35]:
# 別の方法
print(df_s.max())
print(df_s.min())

年齢    65
性別     2
dtype: int64
年齢    1
性別    1
dtype: int64

In [36]:
c50_i = (len(df_s)-1) * 50 / 100 # 整数部
s = c50_i - int(c50_i) # 50%点を計算するための小数部
#「i番目の年齢 + 小数部分 (i+1番目の年齢 - i番目の年齢)」
c50 = df_s.iloc[int(c50_i), 0] + s*(df_s.iloc[int(c50_i)+1, 0] - df_s.iloc[int(c50_i), 0])
print('50%点の位置:',c50_i, '小数:',s, '中央値:',c50)

50%点の位置: 7499.5 小数: 0.5 中央値: 33.0

In [42]:
print('25%点は',data['年齢'].quantile(0.25))
print('75%点は',data['年齢'].quantile(0.75))

25%点は 17.0
75%点は 49.0

In [ ]:
# 別の方法
if len(df_s) % 2 == 0: # 偶数の場合
    c1 = int((len(df_s) - 1) * 50/ 100)
    c2 = c1 + 1
    print('中央値の計算に使う位置は',c1,'と',c2,'です。')
    print('中央値:',(df_s.iloc[c1,0] + df_s.iloc[c2,0])/2)
else: # 奇数の場合
    c1 = int((len(df_s) + 1) / 2 - 1)
    print('中央値の計算に使う位置は',c1,'です。')
    print('中央値:',df_s.iloc[int(c1),0])

In [ ]:
c25_i = (len(df_s)-1) * 25/100 
s = c25_i - int(c25_i) # 25%点を計算するための小数部
#「i番目の年齢 + 小数部分 (i+1番目の年齢 - i番目の年齢)」
c25 = df_s.iloc[int(c25_i), 0] + s*(df_s.iloc[int(c25_i)+1, 0] - df_s.iloc[int(c25_i), 0])
print('25%点の位置:',c25_i, '小数:',s, '25%点:',c25) 
c75_i = (len(df_s)-1)*75/100 # 整数部の計算
s = c75_i - int(c75_i) # 小数部の計算
c75 = df_s.iloc[int(c75_i), 0] + s*(df_s.iloc[int(c75_i)+1, 0] - df_s.iloc[int(c75_i), 0])
print('75%点の位置:',c75_i, '小数:',s,'75%点:',c75)

In [ ]:
age_df = pd.DataFrame(np.zeros(7))
age_df.columns = ['度数'] # カラム名を変更
for i in data.index:
    age = int((data.at[i,'年齢']-1)/10)
    age_df.iat[age,0] += 1    
age_df.index = ['(0,10]', '(10,20]', '(20,30]', '(30,40]', '(40,50]', '(50,60]', '(60,70]'] # 出力用のインデックス名
print(age_df)

In [ ]:
#指定したカラムの値ごとにカウントする
print(data['性別'].value_counts())
# 1は男性の人数、2は女性の人数

In [ ]:
#指定したカラムの基本統計量を計算する
print(data['年齢'].describe())
# count は data 内の人数
# mean は平均
# std は標準偏差(不偏)
# min は最小値, max は最大値
# 25%は25%点
# 50%は中央値
# 75%は75%点

In [ ]:
#cutとvalue_countsの組み合わせ
age = pd.cut(data['年齢'], bins=[0,10, 20, 30, 40, 50, 60,70])
#binsの数値を境に年齢を分割
p_data = age.value_counts()
# 数値をカウントし度数を出力
print(p_data)

In [3]:
import pandas as pd 
df = pd.read_csv('data//seiseki_8s.csv',index_col='ID')
# Jupyter Notebook 上で表示するサイズを設定
pd.set_option('display.max_columns', 9) # 列数を9に制限
pd.set_option('display.max_rows', 4) # 行数を4に制限
# 小数点の有効桁数を2桁へ変更
pd.options.display.precision = 2
display(df)

       国語  数学  英語  理科  社会  音楽  体育  技術家庭
ID
10001  75  55  72  48  74  39  62    37
10002  74  35  56  86  72  56  89    59
...    ..  ..  ..  ..  ..  ..  ..   ...
11131  77  42  61  58  72  66  76    54
11132  70  34  57  50  81  40  35    49

[1132 rows x 8 columns]

In [4]:
pd.set_option('display.max_rows', 8)
display(df.describe())

            国語       数学       英語       理科       社会       音楽       体育     技術家庭
count  1132.00  1132.00  1132.00  1132.00  1132.00  1132.00  1132.00  1132.00
mean     70.44    48.64    62.35    49.07    69.53    47.83    65.94    55.40
std       8.15    16.71    10.93    13.61     8.80    14.69    11.39    14.45
min      40.00     0.00    30.00    10.00    40.00     0.00    30.00    10.00
25%      65.00    38.00    55.00    40.00    64.00    38.00    59.00    46.00
50%      70.00    48.00    62.00    49.00    69.00    48.00    66.00    56.00
75%      76.00    59.25    70.00    59.00    75.00    57.00    74.00    66.00
max     100.00   100.00   100.00   100.00   100.00   100.00   100.00   100.00

In [ ]:
print(df.query('国語 < 65 and 数学 < 38 and 英語< 55 and 理科 < 40 and 社会 < 64'))

In [ ]:
print(df.query('国語 >= 76 and 数学 >= 59 and 英語 >= 70 and 理科 >= 59 and 社会 >= 75 and 音楽 >=57 and 体育 >=74 and 技術家庭 >=66'))

In [ ]:
print(df.query('国語 >= 76 and 数学 >= 59 and 英語 >= 70 and 理科 >= 59 and 社会 >= 75'))

In [ ]:
df['s'] = df.T.sum() # 合計入りの成績表
filepass = 'data//pandas_seiseki.xlsx' #保存用ファイルパス
#with pd.ExcelWriter(filepass,encoding='utf-8') as w:
with pd.ExcelWriter(filepass,encoding='shift-jis') as w:    
  df.to_excel(w, sheet_name='成績表')
  dfh.to_excel(w, sheet_name='偏差値表')
  df.sort_values('s', ascending = False).to_excel(w, 
     sheet_name = '降順済成績表')
  df['s'].describe().to_excel(w, sheet_name = '合計の基本統計量')
  df.query('国語 >= 76 and 数学 >= 59 and 英語 >= 70 and 理科 >= 59 and 社会 >= 75').to_excel(w, sheet_name='優秀な学生')

In [ ]:
df = pd.read_csv('data//seiseki_3_10.csv',index_col='ID')
pd.set_option('display.max_columns', 8) # 
pd.set_option('display.max_rows', 8)
pd.options.display.precision = 2
new_df = df.groupby(['学年','クラス']).describe().T
display(new_df)

In [ ]:
filepass = 'data//pandas_seiseki_3_10.xlsx'
new_df2 = df.groupby(['学年']).describe().T
#with pd.ExcelWriter(filepass,encoding='utf-8') as w:
with pd.ExcelWriter(filepass,encoding='shift-jis') as w:    
  df.to_excel(w, sheet_name='成績表一覧')
  new_df.to_excel(w, sheet_name='学年とクラス別')
  new_df2.to_excel(w, sheet_name='学年別')
  df.query('国語 >= 60 and 数学 >= 60 and 英語 >= 60 and 理科 >= 60 and 社会 >= 60').to_excel(w, sheet_name='優秀な学生')

In [48]:
df = pd.DataFrame({'ren':np.arange(5,8)})
display(df)
goukei = 0 # 合計を入れる変数
var = 0 # 分散を入れる変数
# 平均値を求めるために合計を算出
for k in df.index:  
    goukei = goukei + df.at[k,'ren']
ave = goukei / df.size # 平均値の計算
# 平均値を求めるために合計を算出
for j in df.index:
    var = var + (df.at[j,'ren']-ave)**2
var = var / df.size # 分散を計算
# 平均と分散を出力 
print('平均:',ave, '分散:',var)

   ren
0    5
1    6
2    7

平均: 6.0 分散: 0.6666666666666666

In [47]:
df_ren = pd.DataFrame({'ren':np.arange(10,20)})
df_rens = df_ren.sort_values('ren') # 並び替え
print('min:',df_rens.iloc[0,0], '便利な関数:',df_ren['ren'].min()) # 最小値
print('max:',df_rens.iloc[len(df_rens)-1,0], '便利な関数:',df_ren['ren'].max()) # 最大値
c_i = (len(df_rens)-1)*25/100  # 25%点の位置を計算
s = c_i - int(c_i) # 小数部 
c25 = df_rens.iloc[int(c_i), 0] + s*(df_rens.iloc[int(c_i)+1, 0] - df_rens.iloc[int(c_i), 0])
print('25%点の位置:',c_i, '小数:',s, '25%点:',c25)
print('50%点は',df_ren['ren'].quantile(0.50))
print('75%点は',df_ren['ren'].quantile(0.75))

min: 10 便利な関数: 10
max: 19 便利な関数: 19
25%点の位置: 2.25 小数: 0.25 25%点: 12.25
50%点は 14.5
75%点は 16.75

In [ ]:

#練習問題別解
df_ren = pd.DataFrame({'ren':np.arange(10,20)})
df_rens = df_ren.sort_values('ren') # 並び替え

print('min:',df_rens.iloc[0,0]) # 最小値
print('max:',df_rens.iloc[len(df_rens)-1,0]) # 最大値
#25%点を計算 # (n-1)p + 1
c_i = (len(df_rens)-1)*25/100  # 位置を計算
s = c_i - int(c_i) # 小数部 
print('25%点の位置:',c_i, '小数:',s)
c25 = df_rens.iloc[int(c_i), 0] + s*(df_rens.iloc[int(c_i)+1, 0] - df_rens.iloc[int(c_i), 0])
# 中央値(50%点)を計算
c_i = (len(df_rens)-1)*50/100 # 位置を計算
s = c_i - int(c_i) # 小数部
print('50%点の位置:',c_i, '小数:',s)
c50 = df_rens.iloc[int(c_i), 0] + s*(df_rens.iloc[int(c_i)+1, 0] - df_rens.iloc[int(c_i), 0])
# 75%点を計算
c_i = (len(df_rens)-1)*75/100 # 位置を計算
s = c_i - int(c_i) # 小数部
print('75%点の位置:',c_i, '小数:',s)
c75 = df_rens.iloc[int(c_i), 0] + s*(df_rens.iloc[int(c_i)+1, 0] - df_rens.iloc[int(c_i), 0])

print('25%点:',c25, '50%点:',c50, '75%点:',c75)