In [11]:
import pandas as pd
import numpy as np
# データの読み込み
data = pd.read_excel('data//u12.xlsx',index_col='ID')
display(data) # データ全体を表示
# カラム名を表示
print(data.columns)

           年齢  性別
ID
100000001  25   2
100000002  34   2
100000003  37   1
100000004  44   2
100000005  32   2
...        ..  ..
100014338  15   1
100014339  11   1
100014340   5   1
100014341   8   1
100014342   8   1

[14342 rows x 2 columns]

Index(['年齢', '性別'], dtype='object')

In [2]:
print(len(data)) # 方法1
print(data.shape) # 方法2

14342
(14342, 2)

In [3]:
male = 0 # 男性の人数を代入する変数に初期値0を代入する
female = 0 # 女性の人数を代入する変数に初期値0を代入する

# IDを利用して男女別の人数カウントを開始
for i in data.index: # モニター人数分繰り返し
  # i は100000001から100014342まで変化           
  if data.at[i,'性別'] == 1: #ID i の人が１（男性）なら
    male = male + 1 # maleを１増加(男性の人数に+1)
  else:# ID iの人が２（女性）であれば
    female = female + 1 #femaleを１増加(女性の人数+1)
# カウント結果である男性人数と女性人数を表示
print('男性:',male,'女性:',female,'合計人数:',male+female)

男性: 7363 女性: 6979 合計人数: 14342

In [4]:
male_age = 0 # 男性の年齢を加える変数 (全男性の合計年齢)
female_age = 0 # 女性の年齢を加える変数(全女性の合計年齢)

for i in data.index:
    if data.at[i,'性別'] == 1: # ID i の人が男性なら
        # 男性の年齢の合計にID i の人の年齢を加える
        male_age = male_age + data.at[i,'年齢']
    else: # ID i の人が女性なら
        # 女性の年齢の合計にID i の人の年齢を加える
        female_age = female_age + data.at[i,'年齢']

# 年齢の総合計を人数で割り、男性と女性の平均年齢を計算
print('男性の平均年齢:', male_age/male, '女性の平均年齢:', female_age/female)

男性の平均年齢: 26.331658291457288 女性の平均年齢: 25.936237283278405

In [5]:
ave_male_age=male_age/male # 男性の平均年齢
ave_female_age=female_age/female # 女性の平均年齢

var_male=0 # 男性の分散を求める変数
var_female=0 # 女性の分散を求める変数

for i in data.index: 
    if data.at[i,'性別']==1: # ID iの人が男性(1)なら
        #男性の個々の年齢と年齢平均の差の二乗を求めてvar_maleに加算
        var_male+=(data.at[i,'年齢']-ave_male_age)**2 
    else: # ID iの人が女性(2)なら
        #女性の個々の年齢と年齢平均の差の二乗を求めてvar_maleに加算
        var_female+=(data.at[i,'年齢']-ave_female_age)**2 

var_male/=male #男性の年齢平均と個々の年齢の差の二乗の合計/人数
var_female/=female #女性の年齢平均と個々の年齢の差の二乗の合計/人数

# 標準偏差は分散(var_maleまたはvar_female)の平方根
print('男性の分散:',var_male,'標準偏差',np.sqrt(var_male))
print('女性の分散:',var_female,'標準偏差',np.sqrt(var_female))

男性の分散: 193.83703523730614 標準偏差 13.922536954065022
女性の分散: 185.49715225548925 標準偏差 13.61973392748512

In [3]:
df_s = data.sort_values('年齢') # 並び替え
print('min:',df_s.iloc[0,0]) # 年齢の0番目
# 年齢の14341番目
print('max:',df_s.iloc[len(data)-1,0])

min: 1
max: 55

In [5]:
c50_i = (len(df_s)-1) * 50 / 100 # 整数部
s = c50_i - int(c50_i) # 50%点を計算するための小数部
#「i番目の年齢 + 小数部分 (i+1番目の年齢 - i番目の年齢)」
c50 = df_s.iloc[int(c50_i), 0] + s*(df_s.iloc[int(c50_i)+1, 0] - df_s.iloc[int(c50_i), 0])
print('50%点の位置:',c50_i, '小数:',s, '中央値:',c50)

50%点の位置: 7170.5 小数: 0.5 中央値: 27.0

In [8]:
df_s.iloc[int(c50_i)+1,0]

27

In [7]:
# 別の方法
if len(df_s) % 2 == 0: # 偶数の場合
    c1 = int((len(df_s) - 1) * 50/ 100)
    c2 = c1 + 1
    print('中央値の計算に使う位置は',c1,'と',c2,'です。')
    print('中央値:',(df_s.iloc[c1,0] + df_s.iloc[c2,0])/2)
else: # 奇数の場合
    c1 = int((len(df_s) + 1) / 2 - 1)
    print('中央値の計算に使う位置は',c1,'です。')
    print('中央値:',df_s.iloc[int(c1),0])

中央値の計算に使う位置は 7170 と 7171 です。
中央値: 27.0

In [10]:
c25_i = (len(df_s)-1) * 25/100 
s = c25_i - int(c25_i) # 25%点を計算するための小数部
#「i番目の年齢 + 小数部分 (i+1番目の年齢 - i番目の年齢)」
c25 = df_s.iloc[int(c25_i), 0] + s*(df_s.iloc[int(c25_i)+1, 0] - df_s.iloc[int(c25_i), 0])
print('25%点の位置:',c25_i, '小数:',s, '25%点:',c25) 
c75_i = (len(df_s)-1)*75/100 # 整数部の計算
s = c75_i - int(c75_i) # 小数部の計算
c75 = df_s.iloc[int(c75_i), 0] + s*(df_s.iloc[int(c75_i)+1, 0] - df_s.iloc[int(c75_i), 0])
print('75%点の位置:',c75_i, '小数:',s,'75%点:',c75)

25%点の位置: 3585.25 小数: 0.25 25%点: 15.0
75%点の位置: 10755.75 小数: 0.75 75%点: 37.0

In [10]:
age_df = pd.DataFrame(np.zeros(6))
age_df.columns = ['度数'] # カラム名を変更
for i in data.index:
    age = int((data.at[i,'年齢']-1)/10)
    age_df.iat[age,0] += 1    
age_df.index = ['(0,10]', '(10,20]', '(20,30]', '(30,40]', '(40,50]', '(50,60]'] # 出力用のインデックス名
print(age_df)

             度数
(0,10]   2426.0
(10,20]  2750.0
(20,30]  3463.0
(30,40]  3227.0
(40,50]  1924.0
(50,60]   552.0

In [12]:
#指定したカラムの値ごとにカウントする
print(data['性別'].value_counts())
# 1は男性の人数、2は女性の人数

1    7363
2    6979
Name: 性別, dtype: int64

In [13]:
#指定したカラムの基本統計量を計算する
print(data['年齢'].describe())
# count は data 内の人数
# mean は平均
# std は標準偏差(不偏)
# min は最小値, max は最大値
# 25%は25%点
# 50%は中央値
# 75%は75%点

count    14342.000000
mean        26.139241
std         13.777919
min          1.000000
25%         15.000000
50%         27.000000
75%         37.000000
max         55.000000
Name: 年齢, dtype: float64

In [14]:
#cutとvalue_countsの組み合わせ
age = pd.cut(data['年齢'], bins=[0,10, 20, 30, 40, 50, 60])
#binsの数値を境に年齢を分割
p_data = age.value_counts()
# 数値をカウントし度数を出力
print(p_data)

(20, 30]    3463
(30, 40]    3227
(10, 20]    2750
(0, 10]     2426
(40, 50]    1924
(50, 60]     552
Name: 年齢, dtype: int64

In [15]:
import pandas as pd 
df = pd.read_csv('data//seiseki_8s.csv',index_col='ID')
# Jupyter Notebook 上で表示するサイズを設定
pd.set_option('display.max_columns', 9) # 列数を9に制限
pd.set_option('display.max_rows', 4) # 行数を4に制限
# 小数点の有効桁数を2桁へ変更
pd.options.display.precision = 2 
display(df)

       国語  数学  英語  理科  社会  音楽  体育  技術家庭
ID
10001  75  55  72  48  74  39  62    37
10002  74  35  56  86  72  56  89    59
...    ..  ..  ..  ..  ..  ..  ..   ...
11131  77  42  61  58  72  66  76    54
11132  70  34  57  50  81  40  35    49

[1132 rows x 8 columns]

In [16]:
pd.set_option('display.max_rows', 8)
display(df.describe())

            国語       数学       英語       理科       社会       音楽       体育     技術家庭
count  1132.00  1132.00  1132.00  1132.00  1132.00  1132.00  1132.00  1132.00
mean     70.44    48.64    62.35    49.07    69.53    47.83    65.94    55.40
std       8.15    16.71    10.93    13.61     8.80    14.69    11.39    14.45
min      40.00     0.00    30.00    10.00    40.00     0.00    30.00    10.00
25%      65.00    38.00    55.00    40.00    64.00    38.00    59.00    46.00
50%      70.00    48.00    62.00    49.00    69.00    48.00    66.00    56.00
75%      76.00    59.25    70.00    59.00    75.00    57.00    74.00    66.00
max     100.00   100.00   100.00   100.00   100.00   100.00   100.00   100.00

In [17]:
df.query('国語> 70 and 英語> 70 and 社会> 70 and 50 < 数学 < 60 and 50 < 理科 < 60')

       国語  数学  英語  理科  社会  音楽  体育  技術家庭
ID
10774  83  54  78  58  78  56  60    50
11007  72  51  74  56  78  36  66    59
11068  90  59  71  58  90  70  59    59

In [18]:
# 元のデータが変更されないように避難
dfh = df.copy() 
# カラム名を利用して繰り返し
for i in dfh.columns: # 8回繰り返し
    t = dfh.loc[:,i] # 式を短くする工夫
    # 平均50, 標準偏差10の偏差値を計算
    dfh.loc[:,i] = (t - t.mean()) / (t.std()) * 10 + 50
    
print(dfh.loc[11068,:]) # 指定学生の成績

国語      73.99
数学      56.20
英語      57.92
理科      56.56
社会      73.26
音楽      65.09
体育      43.91
技術家庭    52.49
Name: 11068, dtype: float64

In [19]:
print(df.query('国語 < 65 and 数学 < 38 and 英語< 55 and 理科 < 40 and 社会 < 64'))

Empty DataFrame
Columns: [国語, 数学, 英語, 理科, 社会, 音楽, 体育, 技術家庭]
Index: []

In [20]:
print(df.query('国語 >= 76 and 数学 >= 59 and 英語 >= 70 and 理科 >= 59 and 社会 >= 75 and 音楽 >=57 and 体育 >=74 and 技術家庭 >=66'))

Empty DataFrame
Columns: [国語, 数学, 英語, 理科, 社会, 音楽, 体育, 技術家庭]
Index: []

In [21]:
print(df.query('国語 >= 76 and 数学 >= 59 and 英語 >= 70 and 理科 >= 59 and 社会 >= 75'))

       国語  数学  英語  理科  社会  音楽  体育  技術家庭
ID
10436  81  61  71  72  85  53  67    38
10711  77  59  79  65  75  41  66    41
10882  80  62  73  59  77  59  51    65

In [23]:
df['s'] = df.T.sum() # 合計入りの成績表
filepass = 'data//pandas_seiseki.xlsx' #保存用ファイルパス
#with pd.ExcelWriter(filepass,encoding='utf-8') as w:
with pd.ExcelWriter(filepass,encoding='shift-jis') as w:    
  df.to_excel(w, sheet_name='成績表')
  dfh.to_excel(w, sheet_name='偏差値表')
  df.sort_values('s', ascending = False).to_excel(w, sheet_name = '成績表(合計で降順済)')
  df['s'].describe().to_excel(w, sheet_name = '合計の基本統計量')
  df.query('国語 >= 76 and 数学 >= 59 and 英語 >= 70 and 理科 >= 59 and 社会 >= 75').to_excel(w, sheet_name='優秀な学生')

In [24]:
df = pd.read_csv('data//seiseki_3_10.csv',index_col='ID')
pd.set_option('display.max_columns', 8) # 
pd.set_option('display.max_rows', 8)
pd.options.display.precision = 2
new_df = df.groupby(['学年','クラス']).describe().T
display(new_df)

学年              1                       ...      3
クラス             A      B      C      D  ...      G      H      I      J
国語   count  25.00  18.00  28.00  34.00  ...  20.00  23.00  57.00  26.00
     mean   67.76  66.17  65.54  67.38  ...  69.45  75.13  74.54  76.81
     std     9.91  13.34  12.80  10.63  ...  11.61  10.77   9.16  10.91
     min    50.00  40.00  44.00  45.00  ...  54.00  50.00  55.00  52.00
...           ...    ...    ...    ...  ...    ...    ...    ...    ...
技術家庭 25%    36.00  31.75  42.50  38.50  ...  44.75  48.00  45.00  43.50
     50%    47.00  41.50  52.00  54.00  ...  60.50  58.00  59.00  52.00
     75%    55.00  55.75  63.00  62.75  ...  73.00  66.50  72.00  65.50
     max    74.00  70.00  74.00  77.00  ...  93.00  93.00  99.00  84.00

[64 rows x 30 columns]

In [26]:
filepass = 'data//pandas_seiseki_3_10.xlsx'
new_df2 = df.groupby(['学年']).describe().T
#with pd.ExcelWriter(filepass,encoding='utf-8') as w:
with pd.ExcelWriter(filepass,encoding='shift-jis') as w:    
  df.to_excel(w, sheet_name='成績表一覧')
  new_df.to_excel(w, sheet_name='学年とクラス別')
  new_df2.to_excel(w, sheet_name='学年別')
  df.query('国語 >= 60 and 数学 >= 60 and 英語 >= 60 and 理科 >= 60 and 社会 >= 60').to_excel(w, sheet_name='優秀な学生')

In [28]:
df = pd.DataFrame({'ren':np.arange(5,8)})
display(df)
goukei = 0 # 合計を入れる変数
ave = 0 # 平均を入れる変数
var = 0 # 分散を入れる変数
# 平均値を求めるために合計を算出
for k in df.index:  
    goukei = goukei + df.at[k,'ren']
ave = goukei / df.size # 平均値の計算
# 平均値を求めるために合計を算出
for j in df.index:
    var = var + (df.at[j,'ren']-ave)**2
var = var / df.size # 分散を計算
# 平均と分散を出力 
print('平均:',ave, '分散:',var)

   ren
0    5
1    6
2    7

平均: 6.0 分散: 0.6666666666666666

In [29]:
df_ren = pd.DataFrame({'ren':np.arange(10,20)})
df_rens = df_ren.sort_values('ren') # 並び替え

print('min:',df_rens.iloc[0,0]) # 最小値
print('max:',df_rens.iloc[len(df_rens)-1,0]) # 最大値
#25%点を計算 # (n-1)p + 1
c_i = (len(df_rens)-1)*25/100  # 位置を計算
s = c_i - int(c_i) # 小数部 
print('25%点の位置:',c_i, '小数:',s)
c25 = df_rens.iloc[int(c_i), 0] + s*(df_rens.iloc[int(c_i)+1, 0] - df_rens.iloc[int(c_i), 0])
# 中央値(50%点)を計算
c_i = (len(df_rens)-1)*50/100 # 位置を計算
s = c_i - int(c_i) # 小数部
print('50%点の位置:',c_i, '小数:',s)
c50 = df_rens.iloc[int(c_i), 0] + s*(df_rens.iloc[int(c_i)+1, 0] - df_rens.iloc[int(c_i), 0])
# 75%点を計算
c_i = (len(df_rens)-1)*75/100 # 位置を計算
s = c_i - int(c_i) # 小数部
print('75%点の位置:',c_i, '小数:',s)
c75 = df_rens.iloc[int(c_i), 0] + s*(df_rens.iloc[int(c_i)+1, 0] - df_rens.iloc[int(c_i), 0])

print('25%点:',c25, '50%点:',c50, '75%点:',c75)

min: 10
max: 19
25%点の位置: 2.25 小数: 0.25
50%点の位置: 4.5 小数: 0.5
75%点の位置: 6.75 小数: 0.75
25%点: 12.25 50%点: 14.5 75%点: 16.75

In [30]:
df = pd.read_csv('data//seiseki_8s.csv',index_col='ID')
df.query('国語> 80 and 英語> 80 and 数学 >80')

       国語  数学  英語  理科  社会  音楽  体育  技術家庭
ID
10863  85  86  81  40  53  43  78    70

In [31]:
dfh = df.copy() 
for i in dfh.columns:
    t = dfh.loc[:,i] 
    # 標準化を行う(平均50、標準偏差10の偏差値を計算)
    dfh.loc[:,i] = (t - t.mean()) / (t.std()) * 10 + 50
print(dfh.loc[10863,:])

国語      67.86
数学      72.36
英語      67.07
理科      43.34
社会      31.21
音楽      46.71
体育      60.59
技術家庭    60.11
Name: 10863, dtype: float64