# プログラム12.1

In [2]:
import pandas as pd
# データフレームを作成して dfa に代入
dfa = pd.DataFrame({'国語': [66, 98],
    '数学':[99, 42]}, index = ['s01', 's02'])
print('dfa:')
print(dfa) # dfa の中身を出力
# データフレームを作成して dfb に代入
dfb = pd.DataFrame({'国語': [74, 82],
    '数学':[71, 68]}, index = ['s01', 's02'])
print('dfb:')
print(dfb) # dfb の中身を出力
dfab = dfa + dfb # 二つのデータフレームの値を加算
print('dfa + dfb = ') 
print(dfab) # 結果の出力

dfa:
     国語  数学
s01  66  99
s02  98  42
dfb:
     国語  数学
s01  74  71
s02  82  68
dfa + dfb =
      国語   数学
s01  140  170
s02  180  110

# プログラム12.2

In [3]:
dfa.at['s01','国語'] = dfa.at['s01','国語']+dfb.at['s01','国語']
print(dfa)
dfa.loc[:, '数学'] = dfa.loc[:, '数学'] + dfb.loc[:, '数学']
print(dfa)

      国語  数学
s01  140  99
s02   98  42
      国語   数学
s01  140  170
s02   98  110

# プログラム12.3

In [3]:
# データフレームを作成して dfc に代入
dfc = pd.DataFrame({'国語':[66, 98],
    '数学':[99, 42]}, index = ['s01', 's02'])
print('dfc:')
print(dfc) # dfc の中身を出力
# データフレームを作成して dfd に代入
dfd = pd.DataFrame({'数学':[68, 71],
    '国語':[82, 74]}, index = ['s02', 's01'])
print('dfd:')
print(dfd) # dfd の中身を出力
dfcd = dfc + dfd # 二つのデータフレームの値を加算
print('dfc + dfd= ') 
print(dfcd) # 結果の出力

dfc:
     国語  数学
s01  66  99
s02  98  42
dfd:
     数学  国語
s02  68  82
s01  71  74
dfc + dfd=
      国語   数学
s01  140  170
s02  180  110

# プログラム12.4

In [4]:
# index には s01, s02の二つを指定
df1 = pd.DataFrame({'国語':[10, 8],
    '数学':[7, 6]}, index = ['s01', 's02']) 
print('df1:') 
print(df1) # df1の出力

# indexには s01 と s02, s03の三つを指定
df2 = pd.DataFrame({'国語':[5, 3, 1],
    '数学':[3, 8, 9]}, index = ['s01', 's02', 's03']) 
print('df2:') 
print(df2) # df2の出力
print('df1 + df2:')
print(df1 + df2) # 演算の結果を表示

df1:
     国語  数学
s01  10   7
s02   8   6
df2:
     国語  数学
s01   5   3
s02   3   8
s03   1   9
df1 + df2:
       国語    数学
s01  15.0  10.0
s02  11.0  14.0
s03   NaN   NaN

# プログラム12.5

In [5]:
dfsum = df1.add(df2, fill_value = 0) 
print(dfsum)

       国語    数学
s01  15.0  10.0
s02  11.0  14.0
s03   1.0   9.0

# プログラム12.6

In [6]:
print(df1.sum())

国語    18
数学    13
dtype: int64

# プログラム12.7

In [7]:
print(df1.sum(axis = 1))

s01    17
s02    14
dtype: int64

# プログラム12.8

In [1]:
# データの読み込みは時間がかかるため、一つのセルに読み込み関係するものだけを記述する
import pandas as pd 
data = pd.read_csv('data//ken_data.csv', # 住所録データのファイルパス
    encoding = 'shift_jis', index_col = '郵便番号')
display(data) # 全国 124,331 件の住所

        都道府県     市区町村名           町域名
郵便番号
600000   北海道    札幌市中央区    以下に掲載がない場合
640941   北海道    札幌市中央区           旭ケ丘
600041   北海道    札幌市中央区           大通東
600042   北海道    札幌市中央区   大通西（１〜１９丁目）
640820   北海道    札幌市中央区  大通西（２０〜２８丁目）
...      ...       ...           ...
9071433  沖縄県   八重山郡竹富町          南風見仲
9071751  沖縄県   八重山郡竹富町           波照間
9071544  沖縄県   八重山郡竹富町            鳩間
9071800  沖縄県  八重山郡与那国町    以下に掲載がない場合
9071801  沖縄県  八重山郡与那国町           与那国

[124331 rows x 3 columns]

# プログラム12.9

In [9]:
number = input('7桁郵便番号(-は不要)を入力してください:')
print('あなたの入力した郵便番号:',number, 'です。')
subset = data.loc[data.index.values == int(number), :]
print('郵便番号に関連する情報を一括で出力')
print(subset) # 郵便番号 6691337 の住所を出力
print('郵便番号に関連する情報を個別に出力')
print('あなたの都道府県:',subset.loc[int(number), '都道府県'])
print('あなたの市区町村名:',subset.loc[int(number), '市区町村名'])
print('あなたの町域名:',subset.loc[int(number), '町域名'])

7桁郵便番号(-は不要)を入力してください:6691337
あなたの入力した郵便番号: 6691337 です。
郵便番号に関連する情報を一括で出力
        都道府県 市区町村名 町域名
郵便番号
6691337  兵庫県   三田市  学園
郵便番号に関連する情報を個別に出力
あなたの都道府県: 兵庫県
あなたの市区町村名: 三田市
あなたの町域名: 学園

# プログラム12.10

In [10]:
number = input('2桁の数字を入力してください:')
print('あなたの入力した先頭2桁は', number, 'です。')
# 6600000以上6700000未満の範囲の指定のために最小値と最大値を計算
n_min = int(number) * 100000 # 先頭2桁66に0を5つ加える
n_max = (int(number) + 1) * 100000 # 指定する範囲の最大値

cond1 = n_min <= data.index.values # 条件1:6600000以上のインデックス名
cond2 = data.index.values < n_max # 条件2:6700000未満のインデックス名
# 条件1と条件2の両方が True のとき、すなわち、6600000以上6700000未満の範囲を指定
data_sub = data.loc[cond1 & cond2, :]
display(data_sub.sort_values('郵便番号')) # 郵便番号で並び替えてから住所を出力

2桁の数字を入力してください:66
あなたの入力した先頭2桁は 66 です。

        都道府県    市区町村名         町域名
郵便番号
6600000  兵庫県      尼崎市  以下に掲載がない場合
6600051  兵庫県      尼崎市        東七松町
6600052  兵庫県      尼崎市         七松町
6600053  兵庫県      尼崎市        南七松町
6600054  兵庫県      尼崎市        西立花町
...      ...      ...         ...
6696946  兵庫県  美方郡新温泉町          越坂
6696951  兵庫県  美方郡新温泉町           前
6696952  兵庫県  美方郡新温泉町          海上
6696953  兵庫県  美方郡新温泉町          石橋
6696954  兵庫県  美方郡新温泉町          岸田

[1943 rows x 3 columns]

# プログラム12.11

In [6]:
ta_name = input('あなたの町域名は')
print('あなたの入力した内容は', ta_name)
data_sub = data[data['町域名'] == ta_name] # 入力した町域名に一致する情報を抽出
display(data_sub.sort_values('郵便番号')) # 郵便番号で並び替えてから住所を出力

あなたの町域名は三田
あなたの入力した内容は 三田

         都道府県     市区町村名 町域名
郵便番号
1530062   東京都       目黒区  三田
2140034  神奈川県    川崎市多摩区  三田
2430211  神奈川県       厚木市  三田
2920403   千葉県       君津市  三田
5180022   三重県       伊賀市  三田
6430511  和歌山県   有田郡有田川町  三田
6891437   鳥取県    八頭郡智頭町  三田
7100001   岡山県       倉敷市  三田
7170022   岡山県       真庭市  三田
9191513   福井県  三方上中郡若狭町  三田
9370811   富山県       魚津市  三田
9420054   新潟県       上越市  三田

# プログラム12.12

In [12]:
data_sub.to_csv('data_sub.csv', index = True)

# 練習問題解答

# プログラム12.16

In [13]:
dffw = pd.read_excel('data//1st-week.xlsx', index_col = 'ID')
dfsw = pd.read_excel('data//2st-week.xlsx', index_col = 'ID')
dftw = pd.read_excel('data//3st-week.xlsx', index_col = 'ID')
# dffw + dfsw の計算結果を data_sum に代入
data_sum = dffw.add(dfsw, fill_value = 0) 
# data_sum + dftw の計算結果を data_sum に代入
data_sum = data_sum.add(dftw, fill_value = 0)

# プログラム12.17

In [14]:
data = pd.read_csv('data//if2p.csv', index_col = 0)
display(data)
print('斎藤さんの評価前の成績')
print(data.loc[data['名前']=='斎藤', :])
if data.loc['s01', '国語'] >= 80: 
    data.loc['s01', '判定'] = 'A'
elif data.loc['s01', '国語'] >= 60:
    data.loc['s01', '判定'] = 'B'
else:
    data.loc['s01', '判定'] = '不可'
if data.loc['s02', '国語'] >= 80: 
    data.loc['s02', '判定'] = 'A'
elif data.loc['s02', '国語'] >= 60:
    data.loc['s02', '判定'] = 'B'
else:
    data.loc['s02', '判定'] = '不可'
print('成績評価後')
display(data)
print('鈴木さんの成績')
print(data.loc[data.index.values == 's02', :])

     名前  国語 判定
s01  斎藤  88
s02  鈴木  48

斎藤さんの評価前の成績
     名前  国語 判定
s01  斎藤  88
成績評価後

     名前  国語  判定
s01  斎藤  88   A
s02  鈴木  48  不可

鈴木さんの成績
     名前  国語  判定
s02  鈴木  48  不可

# プログラム12.18

In [15]:
data = pd.read_csv('data//if2pg.csv', index_col = 0)
display(data)
data.iloc[0, 4] = data.iloc[0, 1:4].sum()
if data.iloc[0, 4] >= 180: 
    data.iloc[0, 5] = '合格'
else:
    data.iloc[0, 5] = '不合格'
data.iloc[1, 4] = data.iloc[1, 1:4].sum()
if data.iloc[1, 4] >= 180: 
    data.iloc[1, 5] = '合格'
else:
    data.iloc[1, 5] = '不合格'
print('成績評価後')
display(data)
data.to_csv('data//if2pg_hantei.csv', index = True)

     名前  国語  数学  英語  合計 判定
s01  斎藤  88  48  59   0
s02  鈴木  48  81   2   0

成績評価後

     名前  国語  数学  英語   合計   判定
s01  斎藤  88  48  59  195   合格
s02  鈴木  48  81   2  131  不合格